/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    text-decoration: italic;
}
.navbar-container{
    background: linear-gradient(-45deg, #7294b5,#a19c97, white);
    user-select: none;
    
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}
.navbar-container nav a{
    text-decoration: none;
    color: #000;
}

.navbar-container nav a h1{
    font-size: 2rem;
    cursor: pointer;
}
.navbar-container input{
    height: 3vw;
    width: 40vw;
    border: 1px solid #123121;
    outline: none;
    border-radius: .3rem ;
    font-size: 2rem;
}

.icon{
    padding:  0 1rem;
    font-size: 1.7rem;
}

.icon-text{
    font-size: 1.7rem;
}

.category-head{
    margin:10px 0;
}
.category-head ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.category-title{
    font-size: 1.2rem;
    flex: 0 0 calc(16.6667% - 10px);
    display: flex;
    justify-content: center;
    padding: 12px;
    color: #123121;
    margin: 5px;
    cursor: pointer;
    transition: all 0.4 ease;
}

.category-title:hover{
    opacity: 0.7;
}

.hr-opacity{
    opacity: 0.3;
}

.active{
    
}